@import '../libs/_vars';
@import '../libs/_functions';
@import '../libs/_mixins';

	.info-nav{
		 ul {
			 list-style: none;
			 margin: 0;
			 padding-left: 0em;
			 width: 100%;
			 display: block;
			 border-bottom: solid _size(border-width)*2 _palette(normalPink);
			 box-shadow: 0 0.1em 0 0 _palette(shadow);
			 @include clearfix;

			 li {
				 width: calc(100%/3-2em);
				 background-color: _palette(bg-gray);
				 @include textCenter;
				 @include floatLeft;
				 margin-right:1px;
				 padding: 0.5em;
			 }
			 & .current{
				 background-color: _palette(normalPink) ;
				 color: #ffffff;;
			 }
		 }

	 }

	.info-Cart{
		background-color: _palette(bg-gray);
		padding: 0.8em;

		a{
			text-decoration: underline;
			cursor: pointer;
		}
		span{
			@include padding(0em, 0.3em);

		}

	}

	.info-detail{
		padding: 0.5em 0;

		& .product_title{
			line-height: 1.3;
            padding-bottom: _size(element-margin)*0.5;
		}

		& .product_photo{
			@include floatLeft;
			img {
				display: block;
				margin: 0em auto;
				width: 7.5em;
				height:7.5em;
			}
		}

		& .product_name{
			@include floatLeft;
			width: calc(100% - 7.5em);
			padding: 0 0.5em;
			min-height:7.4em;

		}
	}

.item-wrap_title{
  font-size: _size(element-margin)*1.2;
  font-weight: bold;
  line-height: 1.5;
  background-color: lighten(_palette(normalPink),20%);
  & ins{
    display: block;
    width: 0.2em;
    height: 23px;
    float: left;
    margin-right: 0.3em;
    border-radius: _size(border-radius);
    background-color: _palette(text-red);
  }
}
.checkOutInfo{
  @include clearfix;
  & .checkOutInfo_left, .checkOutInfo_right{
    float:left;
    @include padding(0.2em,0.2em)
  }

  & .checkOutInfo_left{
    width: _size(element-height)*2.2;
  }

}

.checkOutButton{
  width: calc(100%*0.49);
  margin-right:calc(100%*0.02);
  @include floatLeft;

  &:last-child{
    margin-right: 0;
  }
}